extends layout

block content
	div.container.margin-top100
		div.row
			div.col-md-12.text-center
				h2.font-size60 
					| Billiards/P 
					img(src="/image/spinning8.gif" style="height: 50px; width: 50px")
					img(src="/image/spinning9.gif" style="height: 50px; width: 50px")
					| l Training Notebook
		div.row
			div.col-md-12.text-center
				h4.font-size40 Take your game to the next level! 
		div.row
			div.col-md-12.text-center
				h4.font-size40 Sign in to add shots and use them as references for practices.

		div.row
			div.col-md-12.text-center
				img.img-thumbnail(src="/image/evolution.png" style="height: 170px; width: 520px; padding: 10px; margin: 50px")
	


