#title{
	padding: 30px;
}

.ball{
	height: 25px;
	width: 25px;
	position: absolute;
	top: -200px;
	/*display: inline-block;*/
	vertical-align: top;
	margin-left: 25px;
	margin-top: 25px;

}


.border{
	border: 1px solid black;
}

