@font-face{
	font-family: Just Another Hand;
	src: url(/font/JustAnotherHand.ttf);
}

body{
	font-family: Just Another Hand;
	font-size: 30px;
	background-image: url('/image/lined_paper.png');
}

.font-size30{
	font-size: 30px;
}
.font-size20{
	font-size: 20px;
}

.font-size60{
	font-size: 60px;
}

.font-size40{
	font-size: 40px;
}

.margin-left150{
	margin-left: 150px;
}

.margin-top100{
	margin-top: 100px;
}

#log-out{
	/*display: none;*/
	/*float: right;	*/
}
.left{
	position: relative;
}

.clear-filter{
	font-size: 25px;
	/*background-color: #FFCC00;*/
}

.yellow{
	background-color: yellow;
}

.table{
	 /*-webkit-transform: rotate(90deg); */
	 height: 200px;
	 width: 400px;
	 position: relative;
	 margin-bottom: 80px;
}	

.tableImage{
	width: 100%;
	position: absolute;
}

.ball-on-table{
	height: 25px;
	width: 25px;
	position: absolute;
}

.cueball{
	height: 34px;
	width: 34px;
}

.level:hover{
	background-color: yellow;
}
.cat:hover{
	background-color: yellow;
}


